@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;800&display=swap);.jumbo-image {
    background-image: url("../images/jumbotron.jpg");
    height: 380px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0182f9;
}

.blue-section {
    height: 20px;
    background-color: #0182f9;
}

.fs-xxs {
    font-size: 0.7rem;
}

.search {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #0182f9;
    padding-left: 30px;
}

.search-container {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    bottom: 7px;
    left: 5px;
    color: #0182f9;
}

.active {
    color: #0182f9;
}
.comics-section {
    background-color: #1c1c1c;
}

.position-add-button {
    position: relative;
}

.card-container {
    width: calc(100% / 6);
    padding: 10px;
}

.image-comic {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

.add-button {
    background-color: #0182f9;
    color: white;
    border: none;
    padding: 15px 50px;
    font-weight: 800;
    position: absolute;
    top: -30px;
    margin-left: 10px;
}

.blue-bg {
    background-color: #0282f9;
    padding: 30px 0;
    color: white;
}

#blue-section-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    width: 20%;
    margin-right: 20px;
}

.image-svg {
    width: 20%;
}

.image-locator {
    width: 13%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 5);
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-full {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 0.9rem;
}

.alert-container{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
* {
    font-family: "Sofia Sans", sans-serif;
}

.blue-bar {
    height: 70px;
    background-color: #0082f9;
    position: relative;
}

.info-section {
    padding: 70px 0;
}

.comic-title {
    color: #003f5d;
    font-weight: bold;
}

.description {
    font-size: 1.1rem;
}

.green-bar {
    background-color: #55ba59;
    border-bottom: 2px solid #357639;
}

.separator {
    border-right: 2px solid #357639;
}

.check-availability {
    color: white;
}

.separator div {
    color: #bcfc97;
}

.cover {
    position: absolute;
    top: -250px;
    border: 2px solid white;
    max-width: 192px;
    max-height: 291px;
}

.cover img {
    max-width: 192px;
    max-height: 267px;
}

.gallery {
    background-color: #01a9d9;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.info2-section {
    background-color: #f6f6f6;
    padding: 40px 0 130px 0;
    border-top: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
}

.image-title {
    color: #b4b4b4;
}

.prefooter-section {
    background-color: #f6f6f6;
    border-top: 2px solid #e3e3e3;
}

.prefooter-container {
    border-left: 2px solid #e3e3e3;
    padding: 15px;
}

.prefooter-container-last {
    border-right: 2px solid #e3e3e3;
}

.fake-img {
    height: 65px;
    width: 50px;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
}
#bg-container {
    background-image: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sized-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #706d71;
}

ul {
    margin-left: 30px;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
    padding: 40px 0;
}

.title {
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: white;
}

.img-container {
    background-image: url("../images/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
}

#footer-comp {
    width: 100%;
    padding: 30px 0;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    padding: 10px 15px;
    border: 2px solid #0085ff;
    background-color: #303030;
    color: white;
}

#follow-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follow-us-text {
    color: #0085ff;
    font-weight: 800;
    font-size: 1.3rem;
    margin-right: 10px;
}

.logo {
    margin-right: 10px;
}
