* {
    font-family: "Sofia Sans", sans-serif;
}

.blue-bar {
    height: 70px;
    background-color: #0082f9;
    position: relative;
}

.info-section {
    padding: 70px 0;
}

.comic-title {
    color: #003f5d;
    font-weight: bold;
}

.description {
    font-size: 1.1rem;
}

.green-bar {
    background-color: #55ba59;
    border-bottom: 2px solid #357639;
}

.separator {
    border-right: 2px solid #357639;
}

.check-availability {
    color: white;
}

.separator div {
    color: #bcfc97;
}

.cover {
    position: absolute;
    top: -250px;
    border: 2px solid white;
    max-width: 192px;
    max-height: 291px;
}

.cover img {
    max-width: 192px;
    max-height: 267px;
}

.gallery {
    background-color: #01a9d9;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.info2-section {
    background-color: #f6f6f6;
    padding: 40px 0 130px 0;
    border-top: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
}

.image-title {
    color: #b4b4b4;
}

.prefooter-section {
    background-color: #f6f6f6;
    border-top: 2px solid #e3e3e3;
}

.prefooter-container {
    border-left: 2px solid #e3e3e3;
    padding: 15px;
}

.prefooter-container-last {
    border-right: 2px solid #e3e3e3;
}

.fake-img {
    height: 65px;
    width: 50px;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
}
